<ul class="nav nav-tabs">
  <li><a href="#sampleContentA" data-toggle="tab">受信box</a></li>
  <li class="active"><a href="#sampleContentB" data-toggle="tab">送信box</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="sampleContentA">
    <p>受信カードの表示</p>
  </div>
  <div class="tab-pane active" id="sampleContentB">
    <p>送信カードの表示</p>
  </div>
</div>